<div id="fb-root">
  <%= stylesheet_link_tag "chat" %>
  <%= javascript_include_tag "chat" %>
  <div id="cfacebook">
    <a href="javascript:;" class="chat_fb" onclick="return:false;">
      <i class="fa fa-facebook-square"></i> <%= t("chat.str1") %>
    </a>
    <div class="fchat">
      <div class="fb-page" data-tabs="messages" data-href="https://www.facebook.com/FAshopdanang/"
      data-width="250" data-height="400" data-small-header="false" data-adapt-container-width="true"
      data-hide-cover="false" data-show-facepile="true" data-show-posts="false">
      </div>
    </div>
  </div>
</div>
